{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Items List</button></a></p>

<h1>{{ item.name }}</h1>
<p>
    <b>{{ item.get_category_display }}</b>
    {% if item.is_featured %} | 
    <b>Featured</b>{% endif %}
    | Stock: {{ item.stock }}</p>

{% if item.thumbnail %}
  <img src="{{ item.thumbnail }}" alt="{{ item.name }} thumbnail" width="150" height="100">
  <br />
  {% endif %}

<p>{{ item.description }}</p>

{% if item.store %}
    <p>Store: {{ news.user.username }}</p>
{% else %}
    <p>Store: Anonymous</p>
{% endif %}

{% endblock content %}